<!DOCTYPE html>
<!--
	Multiverse by HTML5 UP
    modified by TsubaHaru for Ghost blogging platform (or as it used to be)
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{{meta_title}}</title>

        {{!-- CSS and JS with asset helper--}}
        <link rel="stylesheet" href="{{asset "built/app.css"}}" />
        <script src="{{asset "built/app.js"}}" defer></script>

        {{!-- contentFor/block scripts - use with defer --}}
        {{{block "scripts"}}}
        
        {{!-- Outputs important meta data and settings, should always be in <head> --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">
        
        <div class="grid">
            {{!-- Navbar partial --}}
            {{> "navbar"}}
        </div>

        <main id="theme-main">
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}
        </main>

        <div class="grid">
            {{!-- Navbar partial --}}
            {{> "footer"}}
        </div>

        {{!-- Outputs important scripts - should always be included before closing body tag --}}
        {{ghost_foot}}
    </body>
</html>