{{!-- Put this into default.hbs --}}
{{!< default}}
<header id="header">
    <h1><a href="/pictures/"><strong>{{@site.title}}</strong> - {{@site.description}}</a></h1>
    <nav>
        <ul>
            <li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
        </ul>
    </nav>
</header>

<div id="main">
    {{#foreach posts}}
        <article class="thumb">
            {{#if feature_image}}
                <a href="{{img_url feature_image}}" class="image"><img src="{{img_url feature_image size="m"}}" alt="" /></a>
            {{/if}}
            <h2><a href="{{url}}">{{title}}</a></h2>
            <p>{{authors}} &bull; {{date published_at timeago="true"}} &bull; {{tags}}</p>
        </article>
    {{/foreach}}
</div>

<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            {{#get "posts" id="6414787e26168d0001d79f5f" as |post|}}
                {{#post}}
                    <section>
                        <h2>{{title}}</h2>
                        <p>{{content}}</p>
                    </section>
                {{/post}}
            {{/get}}
            
            <section>
                <h2>Follow me on ...</h2>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>
            <p class="copyright">
                &copy; {{@site.title}}. Design: <a href="http://html5up.net">HTML5 UP</a>.
            </p>
        </div>
    </div>
</footer>